<!Doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th=""
        layout:decorate="~{layouts/layout :: layout(vCenter='true')}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home | Saving DPS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<!-- Add your site or application content here -->
<div class="card ml-auto mr-auto mb-5 w-50 " layout:fragment="content">
    <div class="card-body ">
        <div class="alert alert-success" role="alert">
            Welcome to bKash Saving DPS services.
        </div>
        <p class="">
            bKash is the fastest and safest medium of financial transaction, bKash makes your life simple
            with Send
            Money, Add Money, Pay Bill, Mobile Recharge, Payment and many more services.
        </p>
    </div>
</div>

<th:block layout:fragment="scripts">
<!--    <script>-->
<!--        $('body').addClass('loading');-->
<!--        setTimeout(() => {-->
<!--            $('body').removeClass('loading');-->
<!--        }, 3000)-->
<!--    </script>-->
</th:block>

</body>
</html>
